.shopping {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-icon {
    color: rgb(0, 65, 107);
}

.shopping-icon:hover {
    color:black;
}

.cart-number {
    position: relative;
    right: -30px;
    top: -8px;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 8px;
    color: white;
    z-index: 1;
    text-align: center;

}