.shopping {
    width: 60px;
    display: flex;
}

.shopping-icon {
    width: 20px;
    height: 20px;
    color: rgb(0, 65, 107);
}

.shopping-icon:hover {
    color:#2185D0;
}

.cart-number {
    position: relative;
    right: 20px;
    top: -10px;
    z-index: 1;
}